$color-black-real: #000;
$color-white-real: #fff;

$color-black: #151515;
$color-white: $color-white-real;

$color-yellow: #ffec02;
$color-yellow-dim: #8b811e;
$color-turquoise: #33c6ff;
$color-blue: #2197ff;
$color-red: #ff2d2d;
$color-green: #29da29;
$color-orange: #FF8D18;

$color-yellow-lit: #fffbcd;
$color-blue-lit: #c2e2ff;
$color-red-lit: #ffcaca;
$color-green-lit: #b4ffb4;
$color-orange-lit: #fad0a5;

$color-menu-accent: #ff6836;
$color-menu-text: black;

$color-bg: rgb(251, 235, 224);

$color-water: #B4CEE6;
$color-ground: #BF9D73;
$color-treasure: #F99C2D;

$color-player-0: rgb(0, 170, 209);
$color-player-0-probe: rgb(0, 144, 201);
$color-player-0-tangent: rgb(0, 72, 89);
$color-player-1: rgb(237, 191,0);
$color-player-1-probe: rgb(255, 162, 0);
$color-player-1-tangent: rgb(198, 113, 0);
$color-player-2: $color-green;
$color-player-2-probe: $color-player-2;
$color-player-2-tangent: $color-player-2;
$color-player-3: $color-orange;
$color-player-3-probe: $color-player-3;
$color-player-3-tangent: $color-player-3;
$color-player-bot: rgb(36, 163, 60);
$color-player-bot-probe: rgb(0, 145, 24);
$color-player-bot-tangent: rgb(0, 63, 13);

@mixin neg {
  -webkit-font-smoothing: antialiased;
}
