$color-black-real: #000;
$color-white-real: #fff;

$color-black: #151515;
$color-white: $color-white-real;

$color-yellow: #ffec02;
$color-yellow-dim: #8b811e;
$color-turquoise: #33c6ff;
$color-blue: #2197ff;
$color-red: #ff2d2d;
$color-green: #29da29;
$color-orange: #FF8D18;

$color-yellow-lit: #fffbcd;
$color-blue-lit: #c2e2ff;
$color-red-lit: #ffcaca;
$color-green-lit: #b4ffb4;
$color-orange-lit: #fad0a5;

$color-menu-accent: #ff6836;
$color-menu-text: black;

$color-bg: #e7e1d8;

$color-water: #9999ff;
$color-ground: $color-menu-accent;
$color-treasure: #F99C2D;

$color-player-0: #60b5cf;
$color-player-1: #f2b73f;
$color-player-2: $color-green;
$color-player-3: $color-orange;
$color-player-bot: #F2b73f;

@mixin neg {
  -webkit-font-smoothing: antialiased;
}
