.play {
  color: lightgray;
  stroke-width: 3;
  stroke: none;
  fill: none;
}

$player-colors: $color-player-0, $color-player-1, $color-player-2, $color-player-3;

@mixin player($color) {
  $player-color: $color;
  --player-color: #{$player-color};

  .draw &, &.draw {
    stroke: $player-color;
  }

  .fill &, &.fill {
    fill: $player-color;
  }
}

@for $i from 0 through 3 {
  .player-#{$i} {
    @include player(nth($player-colors, 1 + $i));
  }
}

.player-bot {
  @include player($color-player-bot);
}

.probe {
  stroke: black;
  stroke-width: 1px;
  fill: var(--player-color);
}

.probe-rope-gradient-stop-0 {
  stop-color: color-mix(in hsl, var(--player-color), black 40%);
}

.probe-rope-gradient-stop-20, .probe-rope-gradient-stop-100 {
  stop-color: var(--player-color);
}

.probe-rope {
  stroke-width: 4px;
}

.water {
  stroke: $color-water;
  fill: $color-water;
  opacity: 75%;
}

.ground-group.clip {
  --clip-center-x: 0px; /* Overwritten via JS */
  --clip-width: 0px; /* Overwritten via JS */
  --clip-transition-duration: 0s;  /* Overwritten in JS */
  clip-path: polygon(calc(var(--clip-center-x) - var(--clip-width) / 2) 0, calc(var(--clip-center-x) + var(--clip-width) / 2) 0, calc(var(--clip-center-x) + var(--clip-width) / 2) 100%, calc(var(--clip-center-x) - var(--clip-width) / 2) 100%);
  transition: var(--clip-transition-duration);
}

.ground {
  stroke: $color-ground;
  fill: $color-bg;
  stroke-dasharray: 14px, 12px;
}

.treasure {
  stroke: $color-treasure;
}

.overlay {
  .announcement-sequences-text {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.25ex;

    .line {
      margin-bottom: 0.4ex;
    }
  }

  .announcement-sequences-text-anchor {
    position: absolute;
  }

  .game-stats {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 41px 62px 47px 62px;
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 300;
    color: black;

    & .game-stats-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      & .remaining-time {
        text-align: center;

        & .counter {
          position: relative;
          display: inline-block;
          min-width: 6.5ex;
          text-align: right;
        }
      }

      & .remaining-probes {
        display: flex;

        &:has(> :nth-child(1):last-child) {
          justify-content: space-around;
        }

        &:has(> :nth-child(2)) {
          justify-content: space-between;
        }

        & .label::after {
          --circle-diameter: 36px;
          content: "";
          position: relative;
          top: 7px;
          width: var(--circle-diameter);
          height: var(--circle-diameter);
          margin-left: 7px;
          background-color: var(--player-color);
          border: 1px solid black;
          border-radius: 50vh;
          display: inline-block;
          box-sizing: border-box;
        }

        & .counter {
          position: relative;
          display: inline-block;
          min-width: 3ex;
          text-align: right;
        }
      }
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .demo-explanation {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    width: 75%;
    height: 8ex;
    padding: 0 12.5% 0.25ex 12.5%;

    .demo-explanation-page {
      transform: translateX(100%);
      width: 75%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 12.5% 0.25ex 12.5%;
      background-color: rgb($color-black, 50%);

      &.active {
        animation: slideIn 1s linear;
        transform: translateX(0);
      }

      &.first {
        animation: none;
      }

      &.leave {
        animation: slideOut 1s linear;
        transform: translateX(-100%);
      }
    }
    .line {
      margin-bottom: 0.4ex;
    }
  }
}
