.main {
  width: 100%;
  height: 100%;

  font-family: "Space Grotesk", sans-serif;
  color: black;

  .min-aspect-ratio {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: #{$aspect-ratio-wh * 100}vh;
    margin: auto;
    background-color: $color-bg;
    overflow: hidden;
    font-size: 100%;

    .game-view, .overlay {
      position: absolute;
      top: 0px;
      height: 100%;
      width: 100%;
    }

    .game-view {
      & > svg {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .overlay {
      background-color: transparent;
      pointer-events: none;
    }
  }
}

.title-bg, .menu-bg {
  position: absolute;
  top: 0;
  left: 0;
}


.bubble {
  --bubble-color-1: #ff6836;
  --bubble-color-2: #83b3ca;
  --bubble-color: var(--bubble-color-1);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  word-wrap: break-word;
  white-space: pre-line;
  background-color: var(--bubble-color);
  border-radius: 50vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 100px 75px 0 0;
  border-style: solid;
  border-color: var(--bubble-color) transparent;
}

#title {
  position: absolute;
  top: 109px;
  left: 90px;
  color: black;
  font-size: 80px;
  font-weight: bold;
  line-height: 96px;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: pre-line;
}

#title-bubble-1 {
  --bubble-color: var(--bubble-color-1);
  top: 761px;
  left: 566px;
  font-size: 24px;
  height: 140px;
  width: 338px;
  line-height: 30px;
}

#title-bubble-1::after {
  left: 193px;
  border-width: 91px 0 0 56px;
}

#title-bubble-2 {
  --bubble-color: var(--bubble-color-2);
  top: 613px;
  left: 773px;
  font-size: 32px;
  height: 181px;
  width: 616px;
  line-height: 36px;
}

#title-bubble-2::after {
  left: 336px;
  border-width: 111px 68px 0 0;
}

.menu-title {
  position: absolute;
  top: 473px;
  color: black;
  font-size: 36px;
  font-weight: normal;
}

.menu-selector {
  text-align: center;

  .item {
    position: relative;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: #ff6836;
    border-radius: 50vh;
    padding: 0;
    box-sizing: border-box;
    align-content: center;

    &.selected {
      background-color: $color-menu-accent;
    }
  }
}

.mode-menu-num-players .menu-selector {
  margin-top: 561px;

  & .item {
    width: 161px;
    height: 161px;
    font-size: 80px;

    &:not(:nth-child(1)) {
      margin-left: 64px;
    }
  }
}

.mode-menu-bottype .menu-selector {
  margin-top: 564px;

  & .item {
    width: 194px;
    height: 88px;
    font-size: 36px;

    &:not(:nth-child(1)) {
      margin-left: 20px;
    }
  }
}

.menu-tip {
  position: relative;
  margin-top: 45px;
  font-size: 36px;
  font-weight: 300;
  color: #7990a3;

  &:not(:empty)::before {
    content: "(";
  }

  &:not(:empty)::after {
    content: ")";
  }
}
