.play {
  color: black;
  stroke-width: 3;
  stroke: none;
  fill: none;
}

$player-colors: $color-player-0, $color-player-1, $color-player-2, $color-player-3;
$player-probe-colors: $color-player-0-probe, $color-player-1-probe, $color-player-2-probe, $color-player-3-probe;
$player-tangent-colors: $color-player-0-tangent, $color-player-1-tangent, $color-player-2-tangent, $color-player-3-tangent;

@mixin player($color, $probe, $tangent) {
  $player-color: $color;
  --player-color: #{$color};
  --player-probe-color: #{$probe};
  --player-tangent-color: #{$tangent};

  .draw &, &.draw {
    stroke: $player-color;
  }

  .fill &, &.fill {
    fill: $player-color;
  }
}

@for $i from 0 through 3 {
  .player-#{$i} {
    @include player(nth($player-colors, 1 + $i), nth($player-probe-colors, 1 + $i), nth($player-tangent-colors, 1 + $i));
  }
}

.player-bot {
  @include player($color-player-bot, $color-player-bot-probe, $color-player-bot-tangent);
}

.player-none {
  @include player(transparent, transparent, transparent);
}

.probe {
  stroke: none;
  fill: var(--player-probe-color);
}

.probe-rope-gradient-stop-0 {
  stop-color: color-mix(in hsl, var(--player-probe-color), black 40%);
}

.probe-rope-gradient-stop-20, .probe-rope-gradient-stop-100 {
  stop-color: var(--player-probe-color);
}

.probe-rope {
  stroke-width: 4px;
}

.tangent {
    stroke: var(--player-tangent-color);
}

.water {
  stroke: $color-water;
  fill: $color-water;
  opacity: 75%;
}

.ground-group.clip {
  --clip-center-x: 0px; /* Overwritten via JS */
  --clip-width: 0px; /* Overwritten via JS */
  --clip-transition-duration: 0s;  /* Overwritten in JS */
  clip-path: polygon(calc(var(--clip-center-x) - var(--clip-width) / 2) 0, calc(var(--clip-center-x) + var(--clip-width) / 2) 0, calc(var(--clip-center-x) + var(--clip-width) / 2) 100%, calc(var(--clip-center-x) - var(--clip-width) / 2) 100%);
  transition: var(--clip-transition-duration);
}

.ground {
  stroke: none;
  fill: $color-ground;
}

.treasure {
  stroke: $color-treasure;
}

.overlay {
  .announcement-sequences-text.game-start,.announcement-sequences-text.game-lost {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 36px;

    .line-1 {
      margin-bottom: 14px;
    }

    .line-2 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .announcement-sequences-text.game-start {
    top: 550px;
  }

  .announcement-sequences-text.game-lost {
    top: 488px;
  }

  .announcement-sequences-text.game-won.bubble {
    --bubble-color: #E7E1D8;
    --anchor-x: 0px;
    --anchor-y: 0px;
    --arrow-width: 40px;
    --arrow-height: 58px;
    --anchor-offset-x: 89px;
    --width: 468px;
    width: var(--width);
    height: 167px;
    padding-left: 74px;
    padding-right: 74px;
    transform: translate(0px, 21px);
    font-size: 24px;

    &::after {
      top: unset;
      bottom: 100%;
    }

    &.arrow-left {
      top: calc(var(--anchor-y) + var(--arrow-height));
      left: calc(var(--anchor-x) - var(--anchor-offset-x));
    }

    &.arrow-left::after {
      left: var(--anchor-offset-x);
      border-left-width: 0;
      border-bottom-width: var(--arrow-height);
      border-right-width: var(--arrow-width);
      border-top-width: 0;
    }

    &.arrow-right {
      top: calc(var(--anchor-y) + var(--arrow-height));
      left: calc(var(--anchor-x) - var(--width) + var(--anchor-offset-x));
    }

    &.arrow-right::after {
      left: calc(100% - var(--anchor-offset-x) - var(--arrow-width));
      border-left-width: var(--arrow-width);
      border-bottom-width: var(--arrow-height);
      border-right-width: 0;
      border-top-width: 0;
    }

    .win-announcement-part-1 {
      font-weight: bold;
    }

    .line-1 {
      margin-bottom: 14px;
    }

    .line-2 {
    }
  }

  .restart-hint.bubble {
    --bubble-color: var(--bubble-color-1);
    font-size: 24px;
    height: 126px;
    top: 859px;
    width: 264px;
    padding-left: 57px;
    padding-right: 20px;

    &::after {
      left: 68px;
    }
  }

  .restart-hint.bubble.right {
    left: 1204px;

    &::after {
      left: 68px;
      border-right-width: 40px;
      border-top-width: 58px;
      border-left-width: 0;
      border-bottom-width: 0;
    }
  }

  .restart-hint.bubble.left {
    left: calc(1920px - 264px - 1204px);

    &::after {
      left: calc(100% - 58px - 68px);
      border-right-width: 0;
      border-top-width: 58px;
      border-left-width: 40px;
      border-bottom-width: 0;
    }
  }

  .game-stats {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 41px 62px 47px 62px;
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 300;
    color: black;

    & .game-stats-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      & .remaining-time {
        text-align: center;

        & .counter {
          position: relative;
          display: inline-block;
          min-width: 6.5ex;
          text-align: right;
        }
      }

      & .remaining-probes {
        display: flex;

        &:has(> :nth-child(1):last-child) {
          justify-content: space-around;
        }

        &:has(> :nth-child(2)) {
          justify-content: space-between;
        }

        & .label::after {
          --circle-diameter: 36px;
          content: "";
          position: relative;
          top: 7px;
          width: var(--circle-diameter);
          height: var(--circle-diameter);
          margin-left: 7px;
          background-color: var(--player-color);
          border: none;
          border-radius: 50vh;
          display: inline-block;
          box-sizing: border-box;
        }

        & .counter {
          position: relative;
          display: inline-block;
          min-width: 3ex;
          text-align: right;
        }
      }
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .demo-explanation {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    width: 75%;
    height: 8ex;
    padding: 0 12.5% 0.25ex 12.5%;

    .demo-explanation-page {
      transform: translateX(100%);
      width: 75%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 12.5% 0.25ex 12.5%;
      background-color: rgb($color-black, 50%);

      &.active {
        animation: slideIn 1s linear;
        transform: translateX(0);
      }

      &.first {
        animation: none;
      }

      &.leave {
        animation: slideOut 1s linear;
        transform: translateX(-100%);
      }
    }
    .line {
      margin-bottom: 0.4ex;
    }
  }
}
